.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    width: 100vw;
    /* fondo */
    background-color: #384d59ef;
    padding: 50px;
    border-radius: 10px;
    color: white;

    box-shadow: 2px 5px 16px 0px #0d0f11;
}
.foto-perfil{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    
    border-radius: 50%;
    margin-right: 55px;
    
}
.fotoPerfil{
    width: 100%;
    object-fit: scale-down;
    border-radius: 50%;
}
.foto-modal{
    width: 50%;
    margin: 10px 25%;
}
.descripcion-pers{
    width: 100%;
}

.listado-tec{
    display: flex;
    overflow: hidden;
}
.container-footer{
    padding: 0 45px;
}
.btn-ingreso{
    
    background-color: #0F8CFA;
    color: #f0f0f0e3;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 30px;
    border: none;
    padding: 10px;
}
#editar-user{
    float: right;
}

.container-info{
    background-color: white;
    padding: 25px;
    margin: 15px;
}
i{padding: 4px;}