<div class="footer-container">
    <div class="logo-inferior">
        <a class="logoAncla" href=""><img id="logoApImg" src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1638313837/APLogo-20-20.png" alt="argpprod"></a>   
    
    </div>
    <div class="contacto">
        <h5>Contacto</h5>
        <p><i class="fa-solid fa-envelope-circle-check"></i> dariomamani48@gmail.com</p>
        <p><i class="fa-solid fa-phone-flip"></i> Tel:3816526707</p>
    </div>
    <div class="redes-inferior">
        <h5>Redes Sociales</h5>
        <ul class="redes-inferior-ul">
            <li><a href="https://github.com/dariomamani48" target="_blank"><i class="fab fa-git-alt"></i></a></li>
            <li><a href="https://www.linkedin.com/in/dario-mamani/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-facebook-square"></i></li>
            <li><i class="fa-brands fa-whatsapp"></i></li>
        </ul>
    </div>
</div>