<header>
    <div class="headerContainer">
        <div class="logoAP">
            <a class="logoAncla" href=""><img id="logoApImg" src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1638313837/APLogo-20-20.png" alt="argpprod"></a>   
        </div>
        
    </div>
    <div class="redesLogin">
        <div class="redesUp">
            <a href="https://github.com/dariomamani48" target="_blank"><i class="fab fa-git-alt"></i></a>
            <a href="https://www.linkedin.com/in/dario-mamani/" target="_blank" ><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="login">
            <i class="fas fa-user-circle"[routerLink]="['/login']" routerLinkActive="router-link-active"></i>
        </div>
    </div>
</header>
