<section id="experiencias" >
  <div class="container">
    <h1>Experiencia</h1>
    <div class="iconografia">
      <i class="fa-solid fa-building"></i>
      <span><i class="fa-solid fa-arrow-right " id="flecha"></i></span>
      <i class="fa-solid fa-house-laptop"></i>
      <span><i class="fa-solid fa-arrow-right " id="flecha"></i></span>

      <i class="fa-solid fa-network-wired"></i>
    </div>
    <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExpModal" data-bs-whatever="@mdo"><i class="fa-solid fa-plus"></i></button>
    <div class="p-cont" >
      <table class="table table-hover table-dark" >
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Logo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Desde-Hasta</th>
            <th scope="col">Editar/Eliminar</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let exp of experiencias">
          <tr>
            <th scope="row">{{exp.tituloExp}}</th>
            <td><img  src="{{exp.imagenExp}}" alt="" class="imagenEdu-img" ></td>
            <td><p>{{exp.descExp}}</p></td>
            <td><p>{{exp.fechaInicioExp}}-{{exp.fechaFinExp}}</p></td>
            <td class="buttons"><a (click)="onOpenModal('edit', exp)" class="btn btn-ingreso" data-placementtype="button" data-bs-toggle="modal" data-bs-target="#editExpModal" data-bs-whatever="@mdo"><i class="fa fa-pencil"></i></a> 
              <a (click)="onOpenModal('delete', exp)" type="button" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#deleteExpModal" data-bs-whatever="@mdo"><i class="fa-solid fa-trash-can"></i
                ></a></td>
          </tr>
        </tbody>
      </table>
    </div></div>
</section>


<div class="modal fade" id="addExpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddTecnologia(addForm)">
        <div class="form-group">
           <label for="tituloExp">Nombre</label>
           <input type="text" ngModel name="tituloExp" class="form-control" id="tituloExp" placeholder="Nombre" required>
        </div>
        <div class="form-group">
           <label for="descExp">Descripción</label>
           <input type="text" ngModel name="descExp" class="form-control" id="descExp" placeholder="Description" required>
        </div>
        <div class="form-group">
           <label for="ImagenEdu">Logo</label>
           <input type="text" ngModel name="imagenExp" class="form-control" id="imagenExp" placeholder="Url de la imagen" required>
        </div>
        <div class="form-group">
           <label for="fechaInicio">Fecha Inicio</label>
           <input type="text" ngModel name="fechaInicioExp" class="form-control" id="fechaInicioExp" placeholder="Año inicio" required>
        </div>
        <div class="form-group">
          <label for="fechaInicio">Fecha Fin</label>
          <input type="text" ngModel name="fechaFinExp" class="form-control" id="fechaFinExp" placeholder="Año fin" required>
       </div>
        <div class="modal-footer">
           <button type="button" id="add-exp-form" class="btn btn-eliminar" data-bs-dismiss="modal">Cancelar</button>
           <button [disabled]="addForm.invalid" type="submit" class="btn btn-ingreso" >Guardar</button>
        </div>
        </form>
     </div>
    </div>
  </div>
</div>

<!--Editar-->

<!-- Add Employee Modal -->

<div class="modal fade" id="editExpModal" tabindex="-1" aria-labelledby="editExpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editExpModalLabel">Editar {{editarExp?.tituloExp}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
           <div class="form-group">
              <label for="tituloExp">Nombre</label>
              <input type="text" ngModel="{{editarExp?.tituloExp}}" name="tituloExp" class="form-control" id="tituloExp" placeholder="tituloExp" >
           </div>
           <input type="hidden" ngModel="{{editarExp?.idExp}}" name="idExp" class="form-control" id="idExp" placeholder="idExp">
           <div class="form-group">
              <label for="imagenExp">Logo</label>
              <input type="text" ngModel="{{editarExp?.imagenExp}}" name="imagenExp" class="form-control" id="imagenExp" placeholder="imagenExp">
           </div>
           <div class="form-group">
              <label for="descExp">Descripción</label>
              <input type="text" ngModel="{{editarExp?.descExp}}" name="descExp" class="form-control" id="descExp" placeholder="descExp">
           </div>
           <div class="form-group">
            <label for="fechaInicioExp">Fecha de Inicio</label>
            <input type="text" ngModel="{{editarExp?.fechaInicioExp}}" name="fechaInicioExp" class="form-control" id="fechaInicioExp" placeholder="descEdu">
         </div>
         <div class="form-group">
          <label for="fechaFinExp">Fecha de Finalizacion</label>
          <input type="text" ngModel="{{editarExp?.fechaFinExp}}" name="fechaFinExp" class="form-control" id="fechaFinExp" placeholder="descEdu">
       </div>
           
           
           <div class="modal-footer">
              <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateTec(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes </button>
           </div>
        </form>
     </div>
    </div>
  </div>
</div>
<!-- Delete modal -->
<div class="modal fade" id="deleteExpModal" tabindex="-1" role="dialog" aria-labelledby="deleteExpLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteExpLabel">Delete Skill</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Estas seguro de borrar {{deleteExp?.tituloExp}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button (click)="onDeleteTec(deleteExp!.idExp!)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>


