.fotoTec-img{
    width: 50px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    width: 100vw;
    /* fondo */
    background-color: #384d59ef;
    padding: 50px;
    border-radius: 10px;
    color: white;

    box-shadow: 2px 5px 16px 0px #0d0f11;
}
.p-cont{
    width: 100%;
}
.btn-ingreso{
    
    background-color: #0F8CFA;
    color: #f0f0f0e3;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 30px;
    border: none;
    padding: 10px;
}
.buttons{
    display: flex;
    gap: 15px;
}
.agregar{
    float: right;
}
.iconografia{
    display: flex;
    align-items: center;
    justify-content: center;

}
.iconografia i{
    
    padding: 3%;
    border-radius: 15px;
    margin: 15px;
    font-size: 80px;
    color: #f3f3f3;
    
}
#flecha{
    font-size: 40px ;
}
.table{
    border-radius: 10px;
}
i{
    padding: 4px;
}