<section id="experiencias" >
    <div class="container">
      <h1>Tecnologias</h1>
      <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExpModal" data-bs-whatever="@mdo"><i class="fa-solid fa-plus"></i></button>
      <div class="p-cont" >
        <table class="table table-hover table-dark" >
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Editar/Eliminar</th>
              
            </tr>
          </thead>
          <tbody *ngFor="let tecnologia of tecnologias">
            <tr>
              <th scope="row">{{tecnologia.nombreTec}}</th>
              <td><img src="{{tecnologia.fotoTec}}" alt="" class="fotoTec-img" ></td>
              <td><input type="range" name="porcentaje" id="porcentaje" value="{{tecnologia.porcentaje}}">{{tecnologia.porcentaje}}</td>
              
              <td class="buttons"><a (click)="onOpenModal('edit', tecnologia)" class="btn btn-ingreso" data-placementtype="button" data-bs-toggle="modal" data-bs-target="#editExpModal" data-bs-whatever="@mdo"><i class="fa fa-pencil"></i></a> 
                <a (click)="onOpenModal('delete', tecnologia)" type="button" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#deleteExpModal" data-bs-whatever="@mdo"><i class="fa-solid fa-trash-can"></i
                  ></a></td>
            </tr>
          </tbody>
        </table>
      </div></div>
  </section>


  <div class="modal fade" id="addExpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Exp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddTecnologia(addForm)">
          <div class="form-group">
             <label for="nomExp">Nombre Exp</label>
             <input type="text" ngModel name="nomExp" class="form-control" id="nomExp" placeholder="Name" required>
          </div>
          <div class="form-group">
             <label for="numSkill">Descripción</label>
             <input type="text" ngModel name="descExp" class="form-control" id="descExp" placeholder="Description" required>
          </div>
          <div class="form-group">
             <label for="nivelSkill">Link Web</label>
             <input type="text" ngModel name="linkExp" class="form-control" id="linkExp" placeholder="Url" required>
          </div>
          <div class="form-group">
             <label for="logoSkill">Link repositorio</label>
             <input type="text" ngModel name="repoExp" class="form-control" id="repoExp" placeholder="Url repo" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-exp-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
      </div>
    </div>
  </div>
  
  <!--Editar-->
  
  <!-- Add Employee Modal -->
  
  <div class="modal fade" id="editExpModal" tabindex="-1" aria-labelledby="editExpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editExpModalLabel">Editar Skill {{editarTec?.nombreTec}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
             <div class="form-group">
                <label for="nombreTec">Nombre</label>
                <input type="text" ngModel="{{editarTec?.nombreTec}}" name="nombreTec" class="form-control" id="nombreTec" placeholder="nomExp" >
             </div>
             <input type="hidden" ngModel="{{editarTec?.idTecnologias}}" name="idTecnologias" class="form-control" id="idTecnologias" placeholder="idTecnologias">
             <div class="form-group">
                <label for="fotoTec">imagen</label>
                <input type="text" ngModel="{{editarTec?.fotoTec}}" name="fotoTec" class="form-control" id="fotoTec" placeholder="fotoTec">
             </div>
             <div class="form-group">
                <label for="porcentaje">Porcentaje</label>
                <input type="range" ngModel="{{editarTec?.porcentaje}}" name="porcentaje" class="form-control" id="porcentaje" placeholder="porcentaje">
             </div>
             
             <div class="modal-footer">
                <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
                <button (click)="onUpdateTec(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes </button>
             </div>
          </form>
       </div>
      </div>
    </div>
  </div>
  <!-- Delete modal -->
  <div class="modal fade" id="deleteExpModal" tabindex="-1" role="dialog" aria-labelledby="deleteExpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteExpLabel">Delete Skill</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Estas seguro de borrar {{deleteTec?.nombreTec}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button (click)="onDeleteTec(deleteTec!.idTecnologias!)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  
