.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    /* fondo */
    background-color: #384d59ef;
    padding: 50px;
    border-radius: 10px;
    color: white;

    box-shadow: 2px 5px 16px 0px #0d0f11;
}
.foto-perfil{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 35px;

}
.btn-ingreso{
    margin-top: 70px;
    background-color: rgb(3, 27, 48);
    color: #f0f0f0e3;
    box-shadow: 2px 5px 6px 0px #0d0f11;
    border-radius: 30px;
    border: none;
    padding: 10px;
}
.btn-ingreso:hover{
    background-color: #7787A6;
    color: rgb(0, 0, 0);
    transition: all ease-in .3s;
}
h2{
    float: right;
    bottom: 0;
    left: 0;
}
a{
    padding: 15px;
    text-decoration: none;
    
}