<div *ngIf="usuario" class="container">
    <div class="foto-perfil">
        <img src="{{usuario.fotoPerfil}}" alt="">
        
    </div>
    <div  class="presentacion">
        <h1 >{{usuario.nombre}} {{usuario.apellido}}</h1>
        
        <h3>{{usuario.titulo}}</h3>
        <p>I design and code beautifully simple things, and I love what I do.</p>
        
        <button class="btn btn-ingreso" [routerLink]="['/presentacion']" routerLinkActive="router-link-active">Conocé más acerca de mi haciendo click aquí <lord-icon
            src="https://cdn.lordicon.com/etllbcfy.json"
            trigger="hover"
            colors="primary:#ffffff"
            style="width:35px;height:35px">
        </lord-icon></button>
        <h2><i class="fa-solid fa-laptop-code"></i></h2>
    </div>
    
    
</div>

<div class="container info">
    <h2 class="subti">¿Que es un Programador Web?</h2>
    
    <p>
        El programador web es el profesional que crea sitios webs utilizando diferentes lenguajes de programación, tales como HTML, CSS3 o JavaScript. Es, también, quien se encarga de que al acceder a una web la veamos bien y funcione. La funcionalidad y el diseño es algo muy importante por lo que su trabajo es fundamental.</p>
        
         <strong> Crea sitios web utilizando varios lenguajes de programación.</strong>
        
        <p>Este profesional, especializado en el campo de la informática, se ocupa de programar todas las acciones que se llevan a cabo en una página web, como las búsquedas o filtros. También, se encarga de crear la base de datos y de dar soporte técnico a todo lo que el diseñador ha ideado.
        
        Es decir, se encarga del diseño de las páginas webs y el desarrollo de su funcionalidad, adaptándola a las necesidades de los usuarios de la misma. ¡Apasionante!</p>
        <img class="banner" src="https://images.hive.blog/DQmbvvgGkRamcf4mYJTEYJctuUAqDc4WkaRjpigM73PATfe/undraw_Code_thinking_re_gka2.png" alt="">
</div>
